*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'montserrat';
  color: rgb(255, 255, 255);
}
*::selection{
    background-color: #fff;
    color:rgb(170, 237, 37);
}

html, body{
    height: 100%;
    width: 100%;
}


#cursor{
    height: 15px;
    width: 15px;
    background-color: rgb(170, 237, 37);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    pointer-events: none;
    
}

#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: rgba(170, 237, 37, 0.229);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(50px);

}

#nav{
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 110px;
    gap: 45px;
    position: fixed;
    z-index: 999;
}

#nav img{
    height:65px;
}

#nav h4{
    font-weight: 500;
    font-size: 1.15vw;
    cursor: pointer;
    
}

#nav button{
    height: 50px;
    width: 150px;
    background-color: black;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    border-color: rgb(170, 237, 37);
}
#nav button:hover{
    color:rgb(170, 237, 37);
    cursor: pointer;
    transform: scale(1.05);
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.307);

}

#page1{
    height: 100vh;
    width: 100%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}

#page1 h1{
    font-size: 90px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    color: black;
    position: absolute;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 1px rgb(170, 237, 37);
    z-index: -1;

}

#page1 h2{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#page1 p{
    font-size: 18px;
    font-weight: 400;
    width: 45%;
    
}

#page1 #arrow{
    height: 180px;
    width: 180px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: -2%;
    bottom: 0%;
    background-color: transparent;
    border: 2px solid rgb(170, 237, 37);
    transition: all ease 0.5s;
    
}

#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
}

#page1 #arrow:hover{
     transform: scale(0.4);
     background-color: rgba(170, 237, 37, 0.56);
}

#page2{
    height: 30vh;
    width: 100%;
    z-index: 10;
}


#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

body::-webkit-scrollbar{
    display: none;
}

#scrollbar{
     display: inline-block;
     white-space: nowrap;
     animation-name: scroll;
     animation-duration: 30s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}

#scrollbar h4{
    display: inline-block;
    font-size: 80px;
    font-weight: 800;
    margin-right: 10px;
    font-family: sans-serif;
    color: black;
    transition: all linear 0.5s;
    -webkit-text-stroke: 1px #fff;
}

#scrollbar h4:hover{
    color: rgb(170, 237, 37);
    -webkit-text-stroke: 1px rgb(170, 237, 37);
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about{
    height: 50vh;
    width: 100%;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 5%;
}

#about img{
    height: 250px;
    width: 250px;
    border-radius: 10%;
    object-fit: cover;
    transition: all ease 0.6s; 
}

#about img:hover{
    transform: rotate3d(-1,1,0,20deg) ;
    cursor: pointer;
}

#about-us{
    width: 50%;
    text-align: center;
}

#about-us h3{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;

}

#about-us p{
    font-size: 700;
    line-height: 30px;
    padding-bottom: 20px;
}

#about-us2{
    width: 100%;
    text-align: center;
}

#about-us2 p{
    font-size: 700;
    line-height: 30px;
}

#card-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    z-index: 10;
    margin-bottom: 5%;
}

.card{
    height: 80%;
    width: 22%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}

#card1{
    background-image: url(https://raw.githubusercontent.com/saarthack/sidcup-family-golf/refs/heads/main/Assests/card1.avif);
}

#card2{
    background-image: url(https://github.com/saarthack/sidcup-family-golf/blob/main/Assests/card2.webp?raw=true);
}

#card3{
    background-image: url(https://raw.githubusercontent.com/saarthack/sidcup-family-golf/refs/heads/main/Assests/card3.avif);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(170, 237, 37);
    padding: 30px;
    opacity: 0 ;
    transition: all ease 0.6s;
}

.overlay h4{
    color: black;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    white-space: nowrap;
}

.overlay p{
    color: black;
    font-size: 15px;
    line-height: 25px;
}

.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: scale(1.05);
    
}

#green{
    height: 30vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom,rgb(77, 255, 49),rgb(170, 237, 37));
}

#green h4{
    width: 50%;
    font-weight: 700;
    font-size: 28px;
    color: black;
    text-align: center;
    line-height: 40px;
}
#green img{
    height: 100%;
    width: 200px;
    object-fit: cover;
    
}

#image1{
    transform: rotate(180deg);
}


#photo{
    height: 50vh;
    width: 100%;
}

#page3{
    height: 80vh;
    width: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

#page3 p{
     font-size: 30px;
     font-weight: 700;
     text-align: center;
     width: 55%;
     line-height: 40px;

}

#page3 img{
    height: 40px;
    position: absolute;

}

#colon1{
    left: 18%;
    top: 35%;
}
   

#colon2{
    right: 18%;
    bottom: 35%;
}

#page4{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.crd{
    height: 160px;
    width:400px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
   
.crd h2{
    height: 100%;
    width:100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 237, 37);
    color: #000;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;

}

.crd img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale:1.1;
    transition: all ease 0.5s;

}

.crd:hover h2{
    color: #fff;
    background: transparent;
}

.crd:hover img{
    scale:1;
}

#page4 h1{
    font-size: 70px;
    position: absolute;
    font-weight: 800;
    text-align: center;
    top: -2%;
    color: #000;
    -webkit-text-stroke: 1px #fff;
    font-family: sans-serif;
   
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 80px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 10;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
  transition: all ease 0.3s;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
  transition: all ease 0.3s;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

#f4 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 8px;
  transition: all ease 0.3s;
}

#f2 h3:hover{
    color: #fff;
}
#f3 h3:hover{
    color: #fff;
}
#f4 h3:hover{
    color: #fff;
}

#photo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px 0;
    width: 100%;
    margin-top: 40px;
}

#pic {
    width: 450px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

#pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    transition: all ease 0.4s;
}

#info {
    margin-top: 30px;
    max-width: 450px;
}

#info h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;
}

#info p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fff;
}

#info button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border-radius: 30px;
    border-color:rgb(170, 237, 37);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    z-index: 10;
}
